{
  "env": {
    "browser": true,
    "es2020": true,
    "node": true,
    "jest/globals": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "prettier", "jest"],
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "globals": {
    "render": true
  },
  "rules": {
    "require-await": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unsafe-return": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/indent": ["warn", 2],
    "@typescript-eslint/require-await": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-unused-vars": "warn",
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".test.ts", ".spec.ts", ".tsx"] }
    ],
    "react/jsx-props-no-spreading": ["warn", { "html": "ignore" }],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "import/named": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
    "react": {
      "version": "detect"
    },
    "jest": {
      "version": 26
    }
  }
}
